@import 'tailwindcss';

@import '@fontsource-variable/inter';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

:root {
    --background: #faf8ff;
    --border: #c2c6d6;
    --primary: #005ac2;
    --primary-dark: #004395;
    --foreground: #424754;
    --muted-foreground: #6f778e;

    --danger: #ba1a1a;
    --danger-light: #FFDAD6;
}

@theme {
    --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif;

    --color-background: var(--background);
    --color-border: var(--border);
    --color-primary: var(--primary);
    --color-primary-dark: var(--primary-dark);
    --color-foreground: var(--foreground);
    --color-muted-foreground: var(--muted-foreground);

    --color-danger: var(--danger);
    --color-danger-light: var(--danger-light);
}
